In [2]:
import os
import yaml
import numpy as np
import pandas as pd
from utils.read_csv import *
from utils.preprocessing import *
from utils.subject_split import *

In [3]:
df = pd.read_csv("/data2/lzylzy/mimic_feature_set_c/episodes_index.csv")
df

,Unnamed: 0,SUBJECT_ID,EPISODE,TIMESERIES,TIMESERIES_PROCESSED,TIMESERIES_RAW
0,0,18572,/data2/lzylzy/mimic_feature_set_c/subjects/185...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/185...,/data2/lzylzy/mimic_feature_set_c/subjects/185...
1,1,3903,/data2/lzylzy/mimic_feature_set_c/subjects/390...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/390...,/data2/lzylzy/mimic_feature_set_c/subjects/390...
2,2,88186,/data2/lzylzy/mimic_feature_set_c/subjects/881...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/881...,/data2/lzylzy/mimic_feature_set_c/subjects/881...
3,3,62845,/data2/lzylzy/mimic_feature_set_c/subjects/628...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/628...,/data2/lzylzy/mimic_feature_set_c/subjects/628...
4,4,21905,/data2/lzylzy/mimic_feature_set_c/subjects/219...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/219...,/data2/lzylzy/mimic_feature_set_c/subjects/219...
5,5,15585,/data2/lzylzy/mimic_feature_set_c/subjects/155...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/155...,/data2/lzylzy/mimic_feature_set_c/subjects/155...
6,6,17676,/data2/lzylzy/mimic_feature_set_c/subjects/176...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/176...,/data2/lzylzy/mimic_feature_set_c/subjects/176...
7,7,50050,/data2/lzylzy/mimic_feature_set_c/subjects/500...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/500...,/data2/lzylzy/mimic_feature_set_c/subjects/500...
8,8,980,/data2/lzylzy/mimic_feature_set_c/subjects/980...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/980...,/data2/lzylzy/mimic_feature_set_c/subjects/980...
9,9,23001,/data2/lzylzy/mimic_feature_set_c/subjects/230...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/230...,/data2/lzylzy/mimic_feature_set_c/subjects/230...
10,10,8866,/data2/lzylzy/mimic_feature_set_c/subjects/886...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/886...,/data2/lzylzy/mimic_feature_set_c/subjects/886...
11,11,62084,/data2/lzylzy/mimic_feature_set_c/subjects/620...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/620...,/data2/lzylzy/mimic_feature_set_c/subjects/620...
12,12,13195,/data2/lzylzy/mimic_feature_set_c/subjects/131...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/131...,/data2/lzylzy/mimic_feature_set_c/subjects/131...
13,13,98176,/data2/lzylzy/mimic_feature_set_c/subjects/981...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/981...,/data2/lzylzy/mimic_feature_set_c/subjects/981...
14,14,8907,/data2/lzylzy/mimic_feature_set_c/subjects/890...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/890...,/data2/lzylzy/mimic_feature_set_c/subjects/890...
15,15,22709,/data2/lzylzy/mimic_feature_set_c/subjects/227...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/227...,/data2/lzylzy/mimic_feature_set_c/subjects/227...
16,16,98790,/data2/lzylzy/mimic_feature_set_c/subjects/987...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/987...,/data2/lzylzy/mimic_feature_set_c/subjects/987...
17,17,74910,/data2/lzylzy/mimic_feature_set_c/subjects/749...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/749...,/data2/lzylzy/mimic_feature_set_c/subjects/749...
18,18,28432,/data2/lzylzy/mimic_feature_set_c/subjects/284...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/284...,/data2/lzylzy/mimic_feature_set_c/subjects/284...
19,19,12675,/data2/lzylzy/mimic_feature_set_c/subjects/126...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/126...,/data2/lzylzy/mimic_feature_set_c/subjects/126...
20,20,8550,/data2/lzylzy/mimic_feature_set_c/subjects/855...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/855...,/data2/lzylzy/mimic_feature_set_c/subjects/855...
21,21,9418,/data2/lzylzy/mimic_feature_set_c/subjects/941...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/941...,/data2/lzylzy/mimic_feature_set_c/subjects/941...
22,22,67680,/data2/lzylzy/mimic_feature_set_c/subjects/676...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/676...,/data2/lzylzy/mimic_feature_set_c/subjects/676...
23,23,22909,/data2/lzylzy/mimic_feature_set_c/subjects/229...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/229...,/data2/lzylzy/mimic_feature_set_c/subjects/229...
24,24,58753,/data2/lzylzy/mimic_feature_set_c/subjects/587...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/587...,/data2/lzylzy/mimic_feature_set_c/subjects/587...
25,25,66174,/data2/lzylzy/mimic_feature_set_c/subjects/661...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/661...,/data2/lzylzy/mimic_feature_set_c/subjects/661...
26,26,93640,/data2/lzylzy/mimic_feature_set_c/subjects/936...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/936...,/data2/lzylzy/mimic_feature_set_c/subjects/936...
27,27,14207,/data2/lzylzy/mimic_feature_set_c/subjects/142...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/142...,/data2/lzylzy/mimic_feature_set_c/subjects/142...
28,28,49567,/data2/lzylzy/mimic_feature_set_c/subjects/495...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/495...,/data2/lzylzy/mimic_feature_set_c/subjects/495...
29,29,24322,/data2/lzylzy/mimic_feature_set_c/subjects/243...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/243...,/data2/lzylzy/mimic_feature_set_c/subjects/243...
...,...,...,...,...,...,...
38436,38436,78290,/data2/lzylzy/mimic_feature_set_c/subjects/782...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/782...,/data2/lzylzy/mimic_feature_set_c/subjects/782...
38437,38437,53578,/data2/lzylzy/mimic_feature_set_c/subjects/535...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/535...,/data2/lzylzy/mimic_feature_set_c/subjects/535...
38438,38438,3263,/data2/lzylzy/mimic_feature_set_c/subjects/326...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/326...,/data2/lzylzy/mimic_feature_set_c/subjects/326...
38439,38439,4842,/data2/lzylzy/mimic_feature_set_c/subjects/484...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/484...,/data2/lzylzy/mimic_feature_set_c/subjects/484...
38440,38440,5594,/data2/lzylzy/mimic_feature_set_c/subjects/559...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/559...,/data2/lzylzy/mimic_feature_set_c/subjects/559...
38441,38441,2141,/data2/lzylzy/mimic_feature_set_c/subjects/214...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/214...,/data2/lzylzy/mimic_feature_set_c/subjects/214...
38442,38442,16671,/data2/lzylzy/mimic_feature_set_c/subjects/166...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/166...,/data2/lzylzy/mimic_feature_set_c/subjects/166...
38443,38443,25731,/data2/lzylzy/mimic_feature_set_c/subjects/257...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/257...,/data2/lzylzy/mimic_feature_set_c/subjects/257...
38444,38444,20710,/data2/lzylzy/mimic_feature_set_c/subjects/207...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/207...,/data2/lzylzy/mimic_feature_set_c/subjects/207...
38445,38445,71139,/data2/lzylzy/mimic_feature_set_c/subjects/711...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/711...,/data2/lzylzy/mimic_feature_set_c/subjects/711...
38446,38446,21209,/data2/lzylzy/mimic_feature_set_c/subjects/212...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/212...,/data2/lzylzy/mimic_feature_set_c/subjects/212...
38447,38447,20510,/data2/lzylzy/mimic_feature_set_c/subjects/205...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/205...,/data2/lzylzy/mimic_feature_set_c/subjects/205...
38448,38448,71760,/data2/lzylzy/mimic_feature_set_c/subjects/717...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/717...,/data2/lzylzy/mimic_feature_set_c/subjects/717...
38449,38449,48636,/data2/lzylzy/mimic_feature_set_c/subjects/486...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/486...,/data2/lzylzy/mimic_feature_set_c/subjects/486...
38450,38450,27053,/data2/lzylzy/mimic_feature_set_c/subjects/270...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/270...,/data2/lzylzy/mimic_feature_set_c/subjects/270...
38451,38451,45910,/data2/lzylzy/mimic_feature_set_c/subjects/459...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/459...,/data2/lzylzy/mimic_feature_set_c/subjects/459...
38452,38452,17987,/data2/lzylzy/mimic_feature_set_c/subjects/179...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/179...,/data2/lzylzy/mimic_feature_set_c/subjects/179...
38453,38453,67344,/data2/lzylzy/mimic_feature_set_c/subjects/673...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/673...,/data2/lzylzy/mimic_feature_set_c/subjects/673...
38454,38454,25144,/data2/lzylzy/mimic_feature_set_c/subjects/251...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/251...,/data2/lzylzy/mimic_feature_set_c/subjects/251...
38455,38455,31645,/data2/lzylzy/mimic_feature_set_c/subjects/316...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/316...,/data2/lzylzy/mimic_feature_set_c/subjects/316...
38456,38456,2790,/data2/lzylzy/mimic_feature_set_c/subjects/279...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/279...,/data2/lzylzy/mimic_feature_set_c/subjects/279...
38457,38457,80209,/data2/lzylzy/mimic_feature_set_c/subjects/802...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/802...,/data2/lzylzy/mimic_feature_set_c/subjects/802...
38458,38458,77660,/data2/lzylzy/mimic_feature_set_c/subjects/776...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/776...,/data2/lzylzy/mimic_feature_set_c/subjects/776...
38459,38459,79814,/data2/lzylzy/mimic_feature_set_c/subjects/798...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/798...,/data2/lzylzy/mimic_feature_set_c/subjects/798...
38460,38460,2735,/data2/lzylzy/mimic_feature_set_c/subjects/273...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/273...,/data2/lzylzy/mimic_feature_set_c/subjects/273...
38461,38461,46600,/data2/lzylzy/mimic_feature_set_c/subjects/466...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/466...,/data2/lzylzy/mimic_feature_set_c/subjects/466...
38462,38462,3641,/data2/lzylzy/mimic_feature_set_c/subjects/364...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/364...,/data2/lzylzy/mimic_feature_set_c/subjects/364...
38463,38463,8011,/data2/lzylzy/mimic_feature_set_c/subjects/801...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/801...,/data2/lzylzy/mimic_feature_set_c/subjects/801...
38464,38464,31330,/data2/lzylzy/mimic_feature_set_c/subjects/313...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/313...,/data2/lzylzy/mimic_feature_set_c/subjects/313...
38465,38465,16040,/data2/lzylzy/mimic_feature_set_c/subjects/160...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/160...,/data2/lzylzy/mimic_feature_set_c/subjects/160...

In [10]:
df[~(df.SUBJECT_ID>3902)]

,Unnamed: 0,SUBJECT_ID,EPISODE,TIMESERIES,TIMESERIES_PROCESSED,TIMESERIES_RAW
8,8,980,/data2/lzylzy/mimic_feature_set_c/subjects/980...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/980...,/data2/lzylzy/mimic_feature_set_c/subjects/980...
36,36,3177,/data2/lzylzy/mimic_feature_set_c/subjects/317...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/317...,/data2/lzylzy/mimic_feature_set_c/subjects/317...
89,89,1672,/data2/lzylzy/mimic_feature_set_c/subjects/167...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/167...,/data2/lzylzy/mimic_feature_set_c/subjects/167...
124,124,2648,/data2/lzylzy/mimic_feature_set_c/subjects/264...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/264...,/data2/lzylzy/mimic_feature_set_c/subjects/264...
152,152,3326,/data2/lzylzy/mimic_feature_set_c/subjects/332...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/332...,/data2/lzylzy/mimic_feature_set_c/subjects/332...
160,160,67,/data2/lzylzy/mimic_feature_set_c/subjects/67/...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/67/...,/data2/lzylzy/mimic_feature_set_c/subjects/67/...
181,181,3745,/data2/lzylzy/mimic_feature_set_c/subjects/374...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/374...,/data2/lzylzy/mimic_feature_set_c/subjects/374...
194,194,1726,/data2/lzylzy/mimic_feature_set_c/subjects/172...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/172...,/data2/lzylzy/mimic_feature_set_c/subjects/172...
206,206,3566,/data2/lzylzy/mimic_feature_set_c/subjects/356...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/356...,/data2/lzylzy/mimic_feature_set_c/subjects/356...
208,208,3763,/data2/lzylzy/mimic_feature_set_c/subjects/376...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/376...,/data2/lzylzy/mimic_feature_set_c/subjects/376...
213,213,1299,/data2/lzylzy/mimic_feature_set_c/subjects/129...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/129...,/data2/lzylzy/mimic_feature_set_c/subjects/129...
253,253,3314,/data2/lzylzy/mimic_feature_set_c/subjects/331...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/331...,/data2/lzylzy/mimic_feature_set_c/subjects/331...
258,258,3379,/data2/lzylzy/mimic_feature_set_c/subjects/337...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/337...,/data2/lzylzy/mimic_feature_set_c/subjects/337...
270,270,2464,/data2/lzylzy/mimic_feature_set_c/subjects/246...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/246...,/data2/lzylzy/mimic_feature_set_c/subjects/246...
275,275,792,/data2/lzylzy/mimic_feature_set_c/subjects/792...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/792...,/data2/lzylzy/mimic_feature_set_c/subjects/792...
297,297,2282,/data2/lzylzy/mimic_feature_set_c/subjects/228...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/228...,/data2/lzylzy/mimic_feature_set_c/subjects/228...
308,308,303,/data2/lzylzy/mimic_feature_set_c/subjects/303...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/303...,/data2/lzylzy/mimic_feature_set_c/subjects/303...
309,309,2602,/data2/lzylzy/mimic_feature_set_c/subjects/260...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/260...,/data2/lzylzy/mimic_feature_set_c/subjects/260...
311,311,1527,/data2/lzylzy/mimic_feature_set_c/subjects/152...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/152...,/data2/lzylzy/mimic_feature_set_c/subjects/152...
327,327,3320,/data2/lzylzy/mimic_feature_set_c/subjects/332...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/332...,/data2/lzylzy/mimic_feature_set_c/subjects/332...
346,346,445,/data2/lzylzy/mimic_feature_set_c/subjects/445...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/445...,/data2/lzylzy/mimic_feature_set_c/subjects/445...
362,362,3181,/data2/lzylzy/mimic_feature_set_c/subjects/318...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/318...,/data2/lzylzy/mimic_feature_set_c/subjects/318...
380,380,1230,/data2/lzylzy/mimic_feature_set_c/subjects/123...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/123...,/data2/lzylzy/mimic_feature_set_c/subjects/123...
385,385,1606,/data2/lzylzy/mimic_feature_set_c/subjects/160...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/160...,/data2/lzylzy/mimic_feature_set_c/subjects/160...
393,393,3543,/data2/lzylzy/mimic_feature_set_c/subjects/354...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/354...,/data2/lzylzy/mimic_feature_set_c/subjects/354...
411,411,786,/data2/lzylzy/mimic_feature_set_c/subjects/786...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/786...,/data2/lzylzy/mimic_feature_set_c/subjects/786...
428,428,3722,/data2/lzylzy/mimic_feature_set_c/subjects/372...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/372...,/data2/lzylzy/mimic_feature_set_c/subjects/372...
432,432,1448,/data2/lzylzy/mimic_feature_set_c/subjects/144...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/144...,/data2/lzylzy/mimic_feature_set_c/subjects/144...
447,447,3860,/data2/lzylzy/mimic_feature_set_c/subjects/386...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/386...,/data2/lzylzy/mimic_feature_set_c/subjects/386...
449,449,24,/data2/lzylzy/mimic_feature_set_c/subjects/24/...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/24/...,/data2/lzylzy/mimic_feature_set_c/subjects/24/...
...,...,...,...,...,...,...
38068,38068,2558,/data2/lzylzy/mimic_feature_set_c/subjects/255...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/255...,/data2/lzylzy/mimic_feature_set_c/subjects/255...
38085,38085,2014,/data2/lzylzy/mimic_feature_set_c/subjects/201...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/201...,/data2/lzylzy/mimic_feature_set_c/subjects/201...
38095,38095,2460,/data2/lzylzy/mimic_feature_set_c/subjects/246...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/246...,/data2/lzylzy/mimic_feature_set_c/subjects/246...
38099,38099,2428,/data2/lzylzy/mimic_feature_set_c/subjects/242...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/242...,/data2/lzylzy/mimic_feature_set_c/subjects/242...
38143,38143,1526,/data2/lzylzy/mimic_feature_set_c/subjects/152...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/152...,/data2/lzylzy/mimic_feature_set_c/subjects/152...
38145,38145,2096,/data2/lzylzy/mimic_feature_set_c/subjects/209...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/209...,/data2/lzylzy/mimic_feature_set_c/subjects/209...
38150,38150,1566,/data2/lzylzy/mimic_feature_set_c/subjects/156...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/156...,/data2/lzylzy/mimic_feature_set_c/subjects/156...
38182,38182,368,/data2/lzylzy/mimic_feature_set_c/subjects/368...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/368...,/data2/lzylzy/mimic_feature_set_c/subjects/368...
38201,38201,1143,/data2/lzylzy/mimic_feature_set_c/subjects/114...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/114...,/data2/lzylzy/mimic_feature_set_c/subjects/114...
38203,38203,1681,/data2/lzylzy/mimic_feature_set_c/subjects/168...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/168...,/data2/lzylzy/mimic_feature_set_c/subjects/168...
38208,38208,1547,/data2/lzylzy/mimic_feature_set_c/subjects/154...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/154...,/data2/lzylzy/mimic_feature_set_c/subjects/154...
38221,38221,2266,/data2/lzylzy/mimic_feature_set_c/subjects/226...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/226...,/data2/lzylzy/mimic_feature_set_c/subjects/226...
38234,38234,1223,/data2/lzylzy/mimic_feature_set_c/subjects/122...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/122...,/data2/lzylzy/mimic_feature_set_c/subjects/122...
38236,38236,2401,/data2/lzylzy/mimic_feature_set_c/subjects/240...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/240...,/data2/lzylzy/mimic_feature_set_c/subjects/240...
38240,38240,2894,/data2/lzylzy/mimic_feature_set_c/subjects/289...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/289...,/data2/lzylzy/mimic_feature_set_c/subjects/289...
38259,38259,735,/data2/lzylzy/mimic_feature_set_c/subjects/735...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/735...,/data2/lzylzy/mimic_feature_set_c/subjects/735...
38265,38265,149,/data2/lzylzy/mimic_feature_set_c/subjects/149...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/149...,/data2/lzylzy/mimic_feature_set_c/subjects/149...
38269,38269,2340,/data2/lzylzy/mimic_feature_set_c/subjects/234...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/234...,/data2/lzylzy/mimic_feature_set_c/subjects/234...
38280,38280,3196,/data2/lzylzy/mimic_feature_set_c/subjects/319...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/319...,/data2/lzylzy/mimic_feature_set_c/subjects/319...
38291,38291,253,/data2/lzylzy/mimic_feature_set_c/subjects/253...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/253...,/data2/lzylzy/mimic_feature_set_c/subjects/253...
38294,38294,667,/data2/lzylzy/mimic_feature_set_c/subjects/667...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/667...,/data2/lzylzy/mimic_feature_set_c/subjects/667...
38348,38348,1815,/data2/lzylzy/mimic_feature_set_c/subjects/181...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/181...,/data2/lzylzy/mimic_feature_set_c/subjects/181...
38367,38367,2298,/data2/lzylzy/mimic_feature_set_c/subjects/229...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/229...,/data2/lzylzy/mimic_feature_set_c/subjects/229...
38402,38402,2190,/data2/lzylzy/mimic_feature_set_c/subjects/219...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/219...,/data2/lzylzy/mimic_feature_set_c/subjects/219...
38426,38426,3022,/data2/lzylzy/mimic_feature_set_c/subjects/302...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/302...,/data2/lzylzy/mimic_feature_set_c/subjects/302...
38438,38438,3263,/data2/lzylzy/mimic_feature_set_c/subjects/326...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/326...,/data2/lzylzy/mimic_feature_set_c/subjects/326...
38441,38441,2141,/data2/lzylzy/mimic_feature_set_c/subjects/214...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/214...,/data2/lzylzy/mimic_feature_set_c/subjects/214...
38456,38456,2790,/data2/lzylzy/mimic_feature_set_c/subjects/279...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/279...,/data2/lzylzy/mimic_feature_set_c/subjects/279...
38460,38460,2735,/data2/lzylzy/mimic_feature_set_c/subjects/273...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/273...,/data2/lzylzy/mimic_feature_set_c/subjects/273...
38462,38462,3641,/data2/lzylzy/mimic_feature_set_c/subjects/364...,NaN,/data2/lzylzy/mimic_feature_set_c/subjects/364...,/data2/lzylzy/mimic_feature_set_c/subjects/364...

In [9]:
df.iloc[0]

SUBJECT_ID                               8907
HADM_ID                                114813
ICUSTAY_ID                             285895
DBSOURCE                              carevue
FIRST_CAREUNIT                          TSICU
LAST_CAREUNIT                           TSICU
FIRST_WARDID                               33
LAST_WARDID                                33
INTIME                    2127-11-11 19:20:31
OUTTIME                   2127-11-25 02:02:03
LOS                                   13.2788
ADMITTIME                 2127-11-11 19:19:00
DISCHTIME                 2127-11-24 12:00:00
DEATHTIME                 2127-11-24 12:00:00
ETHNICITY               UNKNOWN/NOT SPECIFIED
DIAGNOSIS                   PEDISTRIAN STRUCK
ADMISSION_TYPE                      EMERGENCY
GENDER                                      M
DOB                       2055-05-26 00:00:00
DOD                       2127-11-24 00:00:00
AGE                                        72
MORTALITY_INUNIT                            1
MORTALITY                                   1
MORTALITY_INHOSPITAL                        1
MORTALITY_2DAYS                             0
MORTALITY_3DAYS                             0
MORTALITY_30DAYS                            0
MORTALITY_1YEAR                             0
lenth                             1.09686e+06
Name: 0, dtype: object

In [7]:
a = [1]
a.append(2)
a

[1, 2]

In [6]:
for i,row in df.iterrows():
    print(row["ITEMID"])

220051
220052
618
220210
224641
220292
220339
506
224687
448
224685
220293
224697
444
220074
224688
220061
223834
225664
220047
220059
224684
683
220060
226253
224161
723
454
184
211
220045
223762
223761
678
676
3420
2981
53
646
1529
224639
3693
763
3580
3581
3582
3583
226707

In [2]:
cfg = yaml.load(open("./config.yaml", "r"), Loader=yaml.FullLoader)
mimic3_path = cfg["mimic3_path"]
output_path = cfg["output_path"]
output_subject_path = cfg["output_subject_path"]
phenotype_definitions = cfg["phenotype_definitions"]
event_tables = cfg["event_tables"]
if not os.path.isdir(mimic3_path):
    os.mkdir(mimic3_path)
if not os.path.isdir(output_path):
    os.mkdir(output_path)
#####################################################
# read specified columns
patients = read_patients_table(mimic3_path)
admits = read_admissions_table(mimic3_path)
stays = read_icustays_table(mimic3_path)
diagnoses = read_icd_diagnoses_table(mimic3_path)
procedures = read_icd_procedures_table(mimic3_path)
prescriptions = read_prescriptions_table(mimic3_path)
#####################################################
# merge together
stays = merge_on_subject_admission(stays, admits)
stays = merge_on_subject(stays, patients)
stays = filter_first_icustay_admission(stays)
stays = add_age_to_icustays(stays)
stays = add_inunit_mortality_to_icustays(stays)
stays = add_inhospital_mortality_to_icustays(stays)
stays = add_2days_mortality_to_icustays(stays)
stays = add_3days_mortality_to_icustays(stays)
stays = add_30days_mortality_discharge(stays)
stays = add_1year_mortality_discharge(stays)
stays = filter_icustays_on_age(stays, 15)
subjects = stays.SUBJECT_ID.unique()
print(f"creating icustays for {len(subjects)} patients")

/opt/anaconda/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:568: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

creating icustays for 38597 patients

In [7]:
subjects

array([  268,   269,   270, ..., 94953, 94954, 94956])

In [6]:
stays[stays.MORTALITY_INUNIT > 0].shape

(3824, 28)

In [32]:
stays.shape

(38597, 28)

In [31]:
duration = 24 * 60 * 6000000000000000000000
mortality = stays.DOD.notnull() & stays.INTIME.notnull() & ((stays.DOD - stays.ADMITTIME).apply(lambda s: s / np.timedelta64(1, 's')).fillna(duration+1).astype(int) <= duration) 
stays[mortality].shape

(15670, 28)

In [ ]:
mortality = stays.DOD.notnull() & ((stays.ADMITTIME <= stays.DOD) & (stays.DISCHTIME >= stays.DOD))

In [17]:
stays[stays.MORTALITY_INUNIT>0].shape

(3824, 28)

In [8]:
len(stays.HADM_ID.unique())

38597

In [4]:
len(admits.ICUSTAY_ID.unique())

38597

In [11]:
to_keep = stays.sort_values(by=["SUBJECT_ID","HADM_ID","ICUSTAY_ID"]).drop_duplicates(subset=["SUBJECT_ID"], keep='first')

In [14]:
len(to_keep.HADM_ID.unique())

38597

In [5]:
len(stays.HADM_ID.unique())

49785

In [6]:
len(stays.ICUSTAY_ID.unique())

53423

In [4]:
stays.shape

(38605, 28)

In [9]:
stays[stays.MORTALITY_3DAYS > 0].shape

(1845, 28)

In [10]:
1845 / 38605

0.047791736821655224

In [3]:

episodes_df = pd.DataFrame(columns=("SUBJECT_ID","EPISODE","TIMESERIES"))

In [4]:

s = pd.Series({ "SUBJECT_ID": 11, "EPISODE": "22", "TIMESERIES":"333"})
episodes_df= episodes_df.append(s, ignore_index=True)
episodes_df

  SUBJECT_ID EPISODE TIMESERIES
0         11      22        333

In [5]:
a = (1,2)
c , d = a
print(d)

2

In [6]:
df1 = pd.read_csv("/data2/lzylzy/mimic_feature_set_a/subjects/3/chartevents.csv",low_memory=False)
df1

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUE,VALUEUOM
0,3,145834,211552.0,2101-10-22 01:00:00,723,1.00,NaN
1,3,145834,211552.0,2101-10-21 07:00:00,723,1.00,NaN
2,3,145834,211552.0,2101-10-25 11:00:00,723,5.00,NaN
3,3,145834,211552.0,2101-10-21 03:00:00,723,1.00,NaN
4,3,145834,211552.0,2101-10-25 19:00:00,723,5.00,NaN
5,3,145834,211552.0,2101-10-23 19:00:00,723,1.00,NaN
6,3,145834,211552.0,2101-10-24 00:00:00,723,1.00,NaN
7,3,145834,211552.0,2101-10-24 11:00:00,723,1.00,NaN
8,3,145834,211552.0,2101-10-25 07:00:00,723,5.00,NaN
9,3,145834,211552.0,2101-10-26 03:00:00,723,5.00,NaN
10,3,145834,211552.0,2101-10-21 17:00:00,723,1.00,NaN
11,3,145834,211552.0,2101-10-22 07:00:00,723,1.00,NaN
12,3,145834,211552.0,2101-10-21 23:00:00,723,1.00,NaN
13,3,145834,211552.0,2101-10-23 07:00:00,723,1.00,NaN
14,3,145834,211552.0,2101-10-24 23:00:00,723,5.00,NaN
15,3,145834,211552.0,2101-10-25 23:00:00,723,5.00,NaN
16,3,145834,211552.0,2101-10-23 02:00:00,723,1.00,NaN
17,3,145834,211552.0,2101-10-23 11:00:00,723,1.00,NaN
18,3,145834,211552.0,2101-10-24 03:00:00,723,1.00,NaN
19,3,145834,211552.0,2101-10-24 15:00:00,723,5.00,NaN
20,3,145834,211552.0,2101-10-23 15:00:00,723,1.00,NaN
21,3,145834,211552.0,2101-10-24 19:00:00,723,5.00,NaN
22,3,145834,211552.0,2101-10-24 07:00:00,723,1.00,NaN
23,3,145834,211552.0,2101-10-21 11:00:00,723,1.00,NaN
24,3,145834,211552.0,2101-10-22 19:00:00,723,1.00,NaN
25,3,145834,211552.0,2101-10-22 11:00:00,723,1.00,NaN
26,3,145834,211552.0,2101-10-25 03:00:00,723,5.00,NaN
27,3,145834,211552.0,2101-10-22 15:00:00,723,1.00,NaN
28,3,145834,211552.0,2101-10-26 11:15:00,723,5.00,NaN
29,3,145834,211552.0,2101-10-22 01:00:00,454,6.00,NaN
...,...,...,...,...,...,...,...
545,3,145834,211552.0,2101-10-21 11:00:00,190,0.40,torr
546,3,145834,211552.0,2101-10-22 00:00:00,190,0.40,torr
547,3,145834,211552.0,2101-10-22 11:00:00,190,0.40,torr
548,3,145834,211552.0,2101-10-25 03:00:00,190,0.35,torr
549,3,145834,211552.0,2101-10-23 10:00:00,190,0.30,torr
550,3,145834,211552.0,2101-10-22 03:25:00,190,0.40,torr
551,3,145834,211552.0,2101-10-20 20:00:00,190,1.00,torr
552,3,145834,211552.0,2101-10-22 19:00:00,190,0.30,torr
553,3,145834,211552.0,2101-10-21 00:28:00,190,0.50,torr
554,3,145834,211552.0,2101-10-23 19:00:00,190,0.30,torr
555,3,145834,211552.0,2101-10-24 23:00:00,190,0.35,torr
556,3,145834,211552.0,2101-10-22 23:00:00,190,0.30,torr
557,3,145834,211552.0,2101-10-21 04:15:00,190,0.50,torr
558,3,145834,211552.0,2101-10-24 10:40:00,190,0.40,torr
559,3,145834,211552.0,2101-10-21 15:00:00,190,0.40,torr
560,3,145834,211552.0,2101-10-22 12:00:00,190,0.30,torr
561,3,145834,211552.0,2101-10-25 07:00:00,190,0.35,torr
562,3,145834,211552.0,2101-10-23 03:00:00,190,0.30,torr
563,3,145834,211552.0,2101-10-24 04:00:00,190,0.30,torr
564,3,145834,211552.0,2101-10-21 09:48:00,190,0.40,torr
565,3,145834,211552.0,2101-10-22 07:00:00,190,0.40,torr
566,3,145834,211552.0,2101-10-20 23:15:00,190,1.00,torr
567,3,145834,211552.0,2101-10-20 23:45:00,190,0.60,torr
568,3,145834,211552.0,2101-10-21 20:50:00,190,0.40,torr
569,3,145834,211552.0,2101-10-23 07:00:00,190,0.30,torr
570,3,145834,211552.0,2101-10-24 07:44:00,190,0.30,torr
571,3,145834,211552.0,2101-10-23 23:00:00,190,0.30,torr
572,3,145834,211552.0,2101-10-22 16:00:00,190,0.30,torr
573,3,145834,211552.0,2101-10-23 15:00:00,190,0.30,torr
574,3,145834,211552.0,2101-10-24 19:00:00,190,0.40,torr

In [7]:
df2 = pd.read_csv("/data2/lzylzy/mimic_feature_set_a/subjects/3/labevents.csv",low_memory=False)
df2

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUE,VALUEUOM
0,3,NaN,NaN,2101-10-12 16:07:00,50820,7.39,units
1,3,NaN,NaN,2101-10-12 18:17:00,50802,-1.00,mEq/L
2,3,NaN,NaN,2101-10-12 18:17:00,50804,22.00,mEq/L
3,3,NaN,NaN,2101-10-12 18:17:00,50808,0.93,mmol/L
4,3,NaN,NaN,2101-10-12 18:17:00,50813,1.80,mmol/L
5,3,NaN,NaN,2101-10-12 18:17:00,50818,33.00,mm Hg
6,3,NaN,NaN,2101-10-12 18:17:00,50820,7.42,units
7,3,NaN,NaN,2101-10-12 18:17:00,50821,80.00,mm Hg
8,3,NaN,NaN,2101-10-13 03:00:00,50868,13.00,mEq/L
9,3,NaN,NaN,2101-10-13 03:00:00,50882,23.00,mEq/L
10,3,NaN,NaN,2101-10-13 03:00:00,50893,8.40,mg/dL
11,3,NaN,NaN,2101-10-13 03:00:00,50902,109.00,mEq/L
12,3,NaN,NaN,2101-10-13 03:00:00,50912,1.70,mg/dL
13,3,NaN,NaN,2101-10-13 03:00:00,50931,137.00,mg/dL
14,3,NaN,NaN,2101-10-13 03:00:00,50960,1.80,mg/dL
15,3,NaN,NaN,2101-10-13 03:00:00,50970,3.70,mg/dL
16,3,NaN,NaN,2101-10-13 03:00:00,50971,4.30,mEq/L
17,3,NaN,NaN,2101-10-13 03:00:00,50983,141.00,mEq/L
18,3,NaN,NaN,2101-10-13 03:00:00,51006,33.00,mg/dL
19,3,NaN,NaN,2101-10-13 03:00:00,51009,16.80,ug/mL
20,3,NaN,NaN,2101-10-13 03:00:00,51221,30.30,%
21,3,NaN,NaN,2101-10-13 15:47:00,50868,14.00,mEq/L
22,3,NaN,NaN,2101-10-13 15:47:00,50882,25.00,mEq/L
23,3,NaN,NaN,2101-10-13 15:47:00,50893,8.20,mg/dL
24,3,NaN,NaN,2101-10-13 15:47:00,50902,107.00,mEq/L
25,3,NaN,NaN,2101-10-13 15:47:00,50912,1.50,mg/dL
26,3,NaN,NaN,2101-10-13 15:47:00,50931,152.00,mg/dL
27,3,NaN,NaN,2101-10-13 15:47:00,50960,2.30,mg/dL
28,3,NaN,NaN,2101-10-13 15:47:00,50970,3.30,mg/dL
29,3,NaN,NaN,2101-10-13 15:47:00,50971,4.00,mEq/L
...,...,...,...,...,...,...,...
1175,3,NaN,NaN,2101-11-06 09:00:00,50868,13.00,mEq/L
1176,3,NaN,NaN,2101-11-06 09:00:00,50882,27.00,mEq/L
1177,3,NaN,NaN,2101-11-06 09:00:00,50893,8.70,mg/dL
1178,3,NaN,NaN,2101-11-06 09:00:00,50902,103.00,mEq/L
1179,3,NaN,NaN,2101-11-06 09:00:00,50912,1.60,mg/dL
1180,3,NaN,NaN,2101-11-06 09:00:00,50931,97.00,mg/dL
1181,3,NaN,NaN,2101-11-06 09:00:00,50960,2.00,mg/dL
1182,3,NaN,NaN,2101-11-06 09:00:00,50970,3.10,mg/dL
1183,3,NaN,NaN,2101-11-06 09:00:00,50971,4.90,mEq/L
1184,3,NaN,NaN,2101-11-06 09:00:00,50983,138.00,mEq/L
1185,3,NaN,NaN,2101-11-06 09:00:00,51006,18.00,mg/dL
1186,3,NaN,NaN,2101-12-20 12:00:00,50882,24.00,mEq/L
1187,3,NaN,NaN,2101-12-20 12:00:00,50902,102.00,mEq/L
1188,3,NaN,NaN,2101-12-20 12:00:00,50912,1.50,mg/dL
1189,3,NaN,NaN,2101-12-20 12:00:00,50931,119.00,mg/dL
1190,3,NaN,NaN,2101-12-20 12:00:00,50983,131.00,mEq/L
1191,3,NaN,NaN,2101-12-20 12:00:00,51006,45.00,mg/dL
1192,3,NaN,NaN,2101-12-20 12:00:00,51144,0.00,%
1193,3,NaN,NaN,2101-12-20 12:00:00,51146,0.50,%
1194,3,NaN,NaN,2101-12-20 12:00:00,51200,1.10,%
1195,3,NaN,NaN,2101-12-20 12:00:00,51221,38.40,%
1196,3,NaN,NaN,2101-12-20 12:00:00,51222,12.80,g/dL
1197,3,NaN,NaN,2101-12-20 12:00:00,51244,17.00,%
1198,3,NaN,NaN,2101-12-20 12:00:00,51248,29.60,pg
1199,3,NaN,NaN,2101-12-20 12:00:00,51249,33.40,%
1200,3,NaN,NaN,2101-12-20 12:00:00,51250,89.00,fL
1201,3,NaN,NaN,2101-12-20 12:00:00,51254,4.50,%
1202,3,NaN,NaN,2101-12-20 12:00:00,51256,76.90,%
1203,3,NaN,NaN,2101-12-20 12:00:00,51265,453.00,K/uL
1204,3,NaN,NaN,2101-12-20 12:00:00,51274,13.20,sec

In [8]:
df_lab = pd.read_csv("/data2/lzy/MIMIC-III/1.4/physionet.org/files/mimiciii/1.4/LABEVENTS.csv",low_memory=False)
df_lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27854055 entries, 0 to 27854054
Data columns (total 9 columns):
ROW_ID        int64
SUBJECT_ID    int64
HADM_ID       float64
ITEMID        int64
CHARTTIME     object
VALUE         object
VALUENUM      float64
VALUEUOM      object
FLAG          object
dtypes: float64(2), int64(3), object(4)
memory usage: 1.9+ GB

In [9]:
df_lab

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal
5,286,3,NaN,50812,2101-10-12 18:17:00,NOT INTUBATED,NaN,NaN,NaN
6,287,3,NaN,50813,2101-10-12 18:17:00,1.8,1.80,mmol/L,NaN
7,288,3,NaN,50818,2101-10-12 18:17:00,33,33.00,mm Hg,NaN
8,289,3,NaN,50820,2101-10-12 18:17:00,7.42,7.42,units,NaN
9,290,3,NaN,50821,2101-10-12 18:17:00,80,80.00,mm Hg,NaN
10,291,3,NaN,50825,2101-10-12 18:17:00,35.8,35.80,NaN,NaN
11,292,3,NaN,50868,2101-10-13 03:00:00,13,13.00,mEq/L,NaN
12,293,3,NaN,50882,2101-10-13 03:00:00,23,23.00,mEq/L,NaN
13,294,3,NaN,50893,2101-10-13 03:00:00,8.4,8.40,mg/dL,NaN
14,295,3,NaN,50902,2101-10-13 03:00:00,109,109.00,mEq/L,NaN
15,296,3,NaN,50912,2101-10-13 03:00:00,1.7,1.70,mg/dL,abnormal
16,297,3,NaN,50931,2101-10-13 03:00:00,137,137.00,mg/dL,abnormal
17,298,3,NaN,50960,2101-10-13 03:00:00,1.8,1.80,mg/dL,NaN
18,299,3,NaN,50970,2101-10-13 03:00:00,3.7,3.70,mg/dL,NaN
19,300,3,NaN,50971,2101-10-13 03:00:00,4.3,4.30,mEq/L,NaN
20,301,3,NaN,50983,2101-10-13 03:00:00,141,141.00,mEq/L,NaN
21,302,3,NaN,51006,2101-10-13 03:00:00,33,33.00,mg/dL,abnormal
22,303,3,NaN,51009,2101-10-13 03:00:00,16.8,16.80,ug/mL,abnormal
23,304,3,NaN,51221,2101-10-13 03:00:00,30.3,30.30,%,abnormal
24,305,3,NaN,50868,2101-10-13 15:47:00,14,14.00,mEq/L,NaN
25,306,3,NaN,50882,2101-10-13 15:47:00,25,25.00,mEq/L,NaN
26,307,3,NaN,50893,2101-10-13 15:47:00,8.2,8.20,mg/dL,abnormal
27,308,3,NaN,50902,2101-10-13 15:47:00,107,107.00,mEq/L,NaN
28,309,3,NaN,50912,2101-10-13 15:47:00,1.5,1.50,mg/dL,abnormal
29,310,3,NaN,50931,2101-10-13 15:47:00,152,152.00,mg/dL,abnormal
...,...,...,...,...,...,...,...,...,...
27854025,27428410,96443,103219.0,50821,2109-12-29 21:17:00,63,63.00,mm Hg,abnormal
27854026,27428411,96443,103219.0,50822,2109-12-29 21:17:00,4.7,4.70,mEq/L,NaN
27854027,27428412,96443,103219.0,50825,2109-12-29 21:17:00,36.7,36.70,NaN,NaN
27854028,27428413,96443,103219.0,50800,2109-12-29 22:11:00,MIX,NaN,NaN,NaN
27854029,27428414,96443,103219.0,50802,2109-12-29 22:11:00,2,2.00,mEq/L,NaN
27854030,27428415,96443,103219.0,50804,2109-12-29 22:11:00,33,33.00,mEq/L,abnormal
27854031,27428416,96443,103219.0,50812,2109-12-29 22:11:00,INTUBATED,NaN,NaN,NaN
27854032,27428417,96443,103219.0,50818,2109-12-29 22:11:00,62,62.00,mm Hg,abnormal
27854033,27428418,96443,103219.0,50820,2109-12-29 22:11:00,7.31,7.31,units,abnormal
27854034,27428419,96443,103219.0,50821,2109-12-29 22:11:00,45,45.00,mm Hg,abnormal
27854035,27428420,96443,103219.0,50825,2109-12-29 22:11:00,37.2,37.20,NaN,NaN
27854036,27428421,96443,103219.0,50800,2109-12-29 23:04:00,ART,NaN,NaN,NaN
27854037,27428422,96443,103219.0,50802,2109-12-29 23:04:00,1,1.00,mEq/L,NaN
27854038,27428423,96443,103219.0,50804,2109-12-29 23:04:00,29,29.00,mEq/L,NaN
27854039,27428424,96443,103219.0,50812,2109-12-29 23:04:00,INTUBATED,NaN,NaN,NaN
27854040,27428425,96443,103219.0,50818,2109-12-29 23:04:00,49,49.00,mm Hg,abnormal
27854041,27428426,96443,103219.0,50820,2109-12-29 23:04:00,7.37,7.37,units,NaN
27854042,27428427,96443,103219.0,50821,2109-12-29 23:04:00,88,88.00,mm Hg,NaN
27854043,27428428,96443,103219.0,50825,2109-12-29 23:04:00,38.3,38.30,NaN,NaN
27854044,27428429,96443,103219.0,50861,2109-12-30 01:40:00,104,104.00,IU/L,abnormal
27854045,27428430,96443,103219.0,50862,2109-12-30 01:40:00,2.2,2.20,g/dL,abnormal
27854046,27428431,96443,103219.0,50863,2109-12-30 01:40:00,172,172.00,IU/L,abnormal
27854047,27428432,96443,103219.0,50867,2109-12-30 01:40:00,28,28.00,IU/L,NaN
27854048,27428433,96443,103219.0,50868,2109-12-30 01:40:00,15,15.00,mEq/L,NaN
27854049,27428434,96443,103219.0,50878,2109-12-30 01:40:00,467,467.00,IU/L,abnormal
27854050,27428435,96443,103219.0,50882,2109-12-30 01:40:00,26,26.00,mEq/L,NaN
27854051,27428436,96443,103219.0,50885,2109-12-30 01:40:00,2.1,2.10,mg/dL,abnormal
27854052,27428437,96443,103219.0,50902,2109-12-30 01:40:00,97,97.00,mEq/L,NaN
27854053,27428438,96443,103219.0,50911,2109-12-30 01:40:00,2,2.00,ng/mL,NaN
27854054,27428439,96443,103219.0,50912,2109-12-30 01:40:00,1.6,1.60,mg/dL,abnormal

In [10]:
df_2 = pd.read_csv("/data2/lzylzy/mimic/feature_set_a/chartevents_filtered_all.csv",low_memory=False)
df_2.info()

KeyboardInterrupt:

In [ ]:
df_2 = df_2.rename(columns={'Unnamed: 0':'ROW_ID'})
df_2

In [ ]:
df_2.to_csv("/data2/lzylzy/mimic/feature_set_a/chartevents_filtered_all2.csv" )

In [ ]:
df_2.info()

In [ ]:
for i , row in df_2.iterrows():
    print(i)
    print(row["SUBJECT_ID"])
    break

In [ ]:
reader = csv.DictReader(open("/data2/lzy/MIMIC-III/1.4/physionet.org/files/mimiciii/1.4/LABEVENTS.csv"), 'r')
for row in enumerate(reader):
    print(row)

In [ ]:
reader = csv.DictReader(open("/data2/lzylzy/mimic/feature_set_a/chartevents_filtered_all.csv"), 'r')
for i,row in enumerate(reader):
    print(row.values())
    break

In [ ]:
import glob
c=0
for i in glob.glob("/data2/lzylzy/mimic_feature/subjects/*"):
    fn = os.path.join(i,"chartevents.csv")
    if os.path.exists(fn):
        c +=1
print(c)

In [ ]:
os.path.exists("/data2/lzylzy/mimic/subjects/3/chartevents.csv")