In [3]:
import os, sys, yaml,argparse
from tqdm import tqdm_notebook as tqdm

from utils.preprocessing import *
from utils.readers import *
from utils.read_csv import *
from utils.subject_split import *

In [2]:
cfg = yaml.load(open("./config.yaml","r"), Loader=yaml.FullLoader)
mimic3_path = cfg["mimic3_path"]
output_path = cfg["output_path"]
output_subject_path = cfg["output_subject_path"]
phenotype_definitions = cfg["phenotype_definitions"]
itemids_file = cfg["itemids_file"]
reference_range_file = cfg["variable_ranges"]
event_tables = cfg["event_tables"]

In [3]:
d_item_path = os.path.join(mimic3_path,"D_ITEMS.csv")
df_d_item = pd.read_csv(d_item_path,low_memory=False)

# INPUTEVENTS_CV

In [65]:
df_incv = pd.read_csv(os.path.join(mimic3_path,"INPUTEVENTS_CV.csv"),low_memory=False)
df_incv

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,RATEUOM,...,ORDERID,LINKORDERID,STOPPED,NEWBOTTLE,ORIGINALAMOUNT,ORIGINALAMOUNTUOM,ORIGINALROUTE,ORIGINALRATE,ORIGINALRATEUOM,ORIGINALSITE
0,592,24457,184834.0,205776.0,2193-09-11 09:00:00,30056,100.0,ml,NaN,NaN,...,756654,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
1,593,24457,184834.0,205776.0,2193-09-11 12:00:00,30056,200.0,ml,NaN,NaN,...,3564075,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
2,594,24457,184834.0,205776.0,2193-09-11 16:00:00,30056,160.0,ml,NaN,NaN,...,422646,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
3,595,24457,184834.0,205776.0,2193-09-11 19:00:00,30056,240.0,ml,NaN,NaN,...,5137889,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
4,596,24457,184834.0,205776.0,2193-09-11 21:00:00,30056,50.0,ml,NaN,NaN,...,8343792,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17527930,17422687,27946,169481.0,212466.0,2154-07-16 22:00:00,40864,82.0,ml,NaN,NaN,...,10296124,4180996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17527931,17422688,27946,169481.0,212466.0,2154-07-16 23:00:00,40864,82.0,ml,NaN,NaN,...,10248887,4180996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17527932,17422689,27946,169481.0,212466.0,2154-07-17 00:00:00,40864,NaN,ml,NaN,NaN,...,7418343,4180996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17527933,17422690,30516,132490.0,260091.0,2105-08-25 06:30:00,46046,31.0,ml,NaN,NaN,...,1753414,4180996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17527934,17422691,30516,132490.0,260091.0,2105-08-25 12:30:00,46046,31.0,ml,NaN,NaN,...,1527223,4180996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
itemid1 = np.loadtxt("./resources/others/itemids_uom_INPUTEVENTS_CV.txt")
print(len(itemid1))
uom2 = df_incv[["ITEMID","AMOUNT","AMOUNTUOM"]].dropna(axis=0,subset = ["AMOUNT", "AMOUNTUOM"]).sort_values("ITEMID")
uom2 = uom2.query(f'{list(itemid1)} in ITEMID')
uom2 = uom2.groupby(["ITEMID","AMOUNTUOM"]).count().reset_index()
uom4 = uom2.merge(uom2.groupby(["ITEMID"]).sum().reset_index(),how="inner",left_on="ITEMID",right_on="ITEMID")
uom4["Percent"] = uom4.AMOUNT_x / uom4.AMOUNT_y
#uom4 = uom4[uom4.Percent>=0.9]
itemid11 = uom4.ITEMID.unique()
print(len(itemid11))
#np.savetxt("./resources/others/itemids_uom_INPUTEVENTS_CV.txt", itemid11, fmt="%d")
uom4

37
37

    ITEMID AMOUNTUOM  AMOUNT_x  AMOUNT_y   Percent
0    30022        mg       441       510  0.864706
1    30022        ml        69       510  0.135294
2    30023        cc       181     35913  0.005040
3    30023        gm      1352     35913  0.037647
4    30023        mg     33996     35913  0.946621
..     ...       ...       ...       ...       ...
74   30298        ml        21      2958  0.007099
75   30384        mg       996      2939  0.338891
76   30384        ml      1943      2939  0.661109
77   30403        ml     22562     22574  0.999468
78   30403       str        12     22574  0.000532

[79 rows x 5 columns]

In [78]:
incv_map = pd.read_csv( "./resources/itemid_uom_map/inputevents_cv_map.csv")
uom4[uom4.Percent>0.5].merge(incv_map,how="inner",left_on=["ITEMID","AMOUNTUOM"],right_on=["ITEMID","AMOUNTUOM"])

,ITEMID,AMOUNTUOM,AMOUNT_x,AMOUNT_y,Percent,Unnamed: 0,COUNT,LABEL,COEFFICIENT
0,30022,mg,441,510,0.864706,0,510,Calcium Chloride,100
1,30023,mg,33996,35913,0.946621,4,35913,Calcium Gluconate,500
2,30027,gm,870,872,0.997706,11,872,Magnesium Sulfate,0
3,30046,ml,85,117,0.726496,17,117,Isuprel,1
4,30052,gm,2536,2548,0.995290,21,2548,Procainamide,0
5,30069,mg,1505,2174,0.692272,25,2174,Solumedrol,0
6,30073,ml,143563,143573,0.999930,26,143573,Impact w/fiber,1
7,30077,ml,91680,91730,0.999455,29,91730,Nepro,1
8,30088,ml,51198,51294,0.998128,31,51294,Replete w/fiber,1
9,30089,tsp,42075,47166,0.892062,32,47166,Promod,0
10,30111,gm,814,822,0.990268,35,822,Amicar,0
11,30114,mg,25134,26869,0.935427,37,26869,Cisatracurium,0
12,30117,mcg,10984,10987,0.999727,39,10987,Esmolol,10000
13,30126,mg,38547,38550,0.999922,41,38550,Morphine Sulfate,0
14,30135,mg,1132,1342,0.843517,42,1342,TPA,0
15,30138,mg,1996,2001,0.997501,44,2001,Vecuronium,1
16,30148,mg,279,308,0.905844,47,308,Narcan,0
17,30151,mg,1172,1394,0.840746,48,1394,Ketamine,0
18,30163,mg,16595,16622,0.998376,50,16622,Dilaudid,0
19,30166,ml,163069,163074,0.999969,52,163074,Promote w/fiber,1
20,30167,mcg,10686,11025,0.969252,54,11025,Precedex,0
21,30172,mg,22452,22549,0.995698,56,22549,Natrecor,0
22,30173,mg,11604,11669,0.994430,58,11669,Argatroban,1
23,30174,ml,161,316,0.509494,60,316,Bivalirudin,1
24,30177,mg,3211,3477,0.923497,63,3477,Lepirudin,0
25,30178,mg,12575,13284,0.946628,64,13284,Nicardipine,0
26,30384,ml,1943,2939,0.661109,73,2939,Xigris,1
27,30403,ml,22562,22574,0.999468,75,22574,Nutren Renal,1

# INPUTEVENTS_MV

In [80]:
df_inmv = pd.read_csv(os.path.join(mimic3_path,"INPUTEVENTS_MV.csv"),low_memory=False)
df_inmv

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,TOTALAMOUNTUOM,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE,ORIGINALAMOUNT,ORIGINALRATE
0,241,27063,139787,223259.0,2133-02-05 06:29:00,2133-02-05 08:45:00,225166,6.774532,mEq,NaN,...,ml,0,0,1,Rewritten,NaN,RN,2133-02-05 12:52:00,10.000000,0.050000
1,242,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225944,28.132997,ml,30.142497,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,28.132998,30.255817
2,243,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225166,2.813300,mEq,NaN,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,2.813300,0.050426
3,244,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,225893,1.000000,dose,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-03 17:06:00,1.000000,1.000000
4,245,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,220949,100.000000,ml,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-03 17:06:00,100.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3618986,3568968,90959,136680,240741.0,2147-08-28 12:00:00,2147-08-28 12:01:00,221744,99.999997,mcg,NaN,...,NaN,0,0,0,FinishedRunning,NaN,NaN,NaN,100.000000,100.000000
3618987,3568969,90959,136680,240741.0,2147-08-29 12:16:00,2147-08-29 15:04:00,225942,0.842267,mg,300.809532,...,ml,0,0,0,Paused,NaN,NaN,NaN,2.500000,300.000000
3618988,3568970,90959,136680,240741.0,2147-08-29 12:16:00,2147-08-29 15:04:00,225943,16.845331,ml,6.016190,...,ml,0,0,0,Paused,NaN,NaN,NaN,50.000000,6.000000
3618989,3568971,90959,136680,240741.0,2147-08-29 02:30:00,2147-08-29 02:31:00,221744,99.999997,mcg,NaN,...,NaN,0,0,0,FinishedRunning,NaN,NaN,NaN,100.000000,100.000000
3618990,3568972,90959,136680,240741.0,2147-08-28 06:00:00,2147-08-28 07:01:00,222168,328.081150,mg,56.024786,...,ml,0,0,0,Changed,NaN,NaN,NaN,995.000120,56.042786

In [87]:
inmv_map = pd.read_csv( "./resources/itemid_uom_map/inputevents_mv_map.csv")
itemid1 = np.loadtxt("./resources/others/itemids_uom_INPUTEVENTS_MV.txt")
print(len(itemid1))
uom2 = df_inmv[["ITEMID","AMOUNT","AMOUNTUOM"]].dropna(axis=0,subset = ["AMOUNT", "AMOUNTUOM"]).sort_values("ITEMID")
uom2 = uom2.query(f'{list(itemid1)} in ITEMID')
uom2 = uom2.groupby(["ITEMID","AMOUNTUOM"]).count().reset_index()
uom4 = uom2.merge(uom2.groupby(["ITEMID"]).sum().reset_index(),how="inner",left_on="ITEMID",right_on="ITEMID")
uom4["Percent"] = uom4.AMOUNT_x / uom4.AMOUNT_y
#uom4 = uom4[uom4.Percent>=0.9]
itemid11 = uom4.ITEMID.unique()

AAA = uom4[uom4.Percent>0.5].merge(inmv_map,how="inner",left_on=["ITEMID","AMOUNTUOM"],right_on=["ITEMID","AMOUNTUOM"])
AAA[AAA.COEFFICIENT==0]

81

,ITEMID,AMOUNTUOM,AMOUNT_x,AMOUNT_y,Percent,Unnamed: 0,COUNT,LABEL,COEFFICIENT
13,225153,mg,9205,9206,0.999891,29,9206,Labetalol,0
17,225798,dose,45640,46352,0.984639,39,46352,Vancomycin,0
21,225837,dose,4214,4258,0.989667,50,4258,Acyclovir,0
22,225838,dose,356,357,0.997199,52,357,Ambisome,0
23,225840,dose,205,209,0.980861,53,209,Amikacin,0
24,225842,dose,3726,3791,0.982854,55,3791,Ampicillin,0
25,225843,dose,3509,3572,0.982363,59,3572,Ampicillin/Sulbactam (Unasyn),0
26,225844,dose,46,48,0.958333,60,48,Atovaquone,0
27,225845,dose,1024,1475,0.694237,64,1475,Azithromycin,0
28,225847,dose,1719,1733,0.991922,66,1733,Aztreonam,0
29,225848,dose,350,359,0.974930,67,359,Caspofungin,0
30,225850,dose,12439,12751,0.975531,70,12751,Cefazolin,0
31,225851,dose,14621,14856,0.984181,72,14856,Cefepime,0
32,225853,dose,1834,1872,0.979701,76,1872,Ceftazidime,0
33,225855,dose,4714,4749,0.992630,77,4749,Ceftriaxone,0
34,225859,dose,11148,11261,0.989965,79,11261,Ciprofloxacin,0
35,225860,dose,2299,2376,0.967593,82,2376,Clindamycin,0
36,225862,dose,265,268,0.988806,84,268,Colistin,0
37,225863,dose,921,930,0.990323,85,930,Daptomycin,0
38,225866,dose,526,556,0.946043,88,556,Erythromycin,0
39,225869,dose,2046,2079,0.984127,90,2079,Fluconazole,0
40,225871,dose,53,54,0.981481,91,54,Foscarnet,0
41,225873,dose,233,241,0.966805,94,241,Gancyclovir,0
42,225875,dose,1568,1642,0.954933,96,1642,Gentamicin,0
43,225876,dose,132,133,0.992481,97,133,Imipenem/Cilastatin,0
44,225879,dose,3233,3279,0.985971,100,3279,Levofloxacin,0
45,225881,dose,2973,2998,0.991661,103,2998,Linezolid,0
46,225883,dose,16597,16892,0.982536,105,16892,Meropenem,0
47,225884,dose,22028,22222,0.991270,109,22222,Metronidazole,0
48,225885,dose,1609,1625,0.990154,110,1625,Micafungin,0
49,225888,dose,5004,5048,0.991284,112,5048,Nafcillin,0
50,225890,dose,1001,1002,0.999002,116,1002,Penicillin G potassium,0
51,225892,dose,5508,5520,0.997826,119,5520,Piperacillin,0
52,225893,dose,27020,27069,0.998190,121,27069,Piperacillin/Tazobactam (Zosyn),0
53,225898,dose,253,259,0.976834,125,259,Rifampin,0
54,225899,dose,1815,1873,0.969034,126,1873,Bactrim (SMX/TMP),0
55,225902,dose,809,816,0.991422,129,816,Tobramycin,0
56,225905,dose,860,873,0.985109,131,873,Voriconazole,0
57,225906,dose,1707,1720,0.992442,132,1720,Enoxaparin (Lovenox),0
58,225907,dose,22255,22316,0.997267,135,22316,Famotidine (Pepcid),0
59,225909,dose,1974,1975,0.999494,136,1975,Lansoprazole (Prevacid),0
60,225910,dose,20669,27516,0.751163,138,27516,Pantoprazole (Protonix),0
61,225911,dose,3129,3134,0.998405,140,3134,Ranitidine (Prophylaxis),0
62,225912,dose,684,692,0.988439,142,692,Carafate (Sucralfate),0
63,225913,dose,880,997,0.882648,145,997,Coumadin (Warfarin),0
68,225975,dose,77510,77518,0.999897,159,77518,Heparin Sodium (Prophylaxis),0
75,227691,dose,92,94,0.978723,174,94,Keflex,0
76,227694,dose,1379,1383,0.997108,176,1383,Omeprazole (Prilosec),0
77,228003,dose,66,73,0.904110,178,73,Tamiflu,0

# LABEVENTS

In [88]:
df_lab = pd.read_csv(os.path.join(mimic3_path,"LABEVENTS.csv"),low_memory=False)
df_lab

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal
...,...,...,...,...,...,...,...,...,...
27854050,27428435,96443,103219.0,50882,2109-12-30 01:40:00,26,26.00,mEq/L,NaN
27854051,27428436,96443,103219.0,50885,2109-12-30 01:40:00,2.1,2.10,mg/dL,abnormal
27854052,27428437,96443,103219.0,50902,2109-12-30 01:40:00,97,97.00,mEq/L,NaN
27854053,27428438,96443,103219.0,50911,2109-12-30 01:40:00,2,2.00,ng/mL,NaN
27854054,27428439,96443,103219.0,50912,2109-12-30 01:40:00,1.6,1.60,mg/dL,abnormal

In [93]:
inlab_map = pd.read_csv( "./resources/itemid_uom_map/labevents_map.csv")
itemid1 = np.loadtxt("./resources/others/itemids_uom_LABEVENTS.txt")
print(len(itemid1))
uom2 = df_lab[["ITEMID","VALUE","VALUEUOM"]].dropna(axis=0,subset = ["VALUE", "VALUEUOM"]).sort_values("ITEMID")
uom2 = uom2.query(f'{list(itemid1)} in ITEMID')
uom2 = uom2.groupby(["ITEMID","VALUEUOM"]).count().reset_index()
uom4 = uom2.merge(uom2.groupby(["ITEMID"]).sum().reset_index(),how="inner",left_on="ITEMID",right_on="ITEMID")
uom4["Percent"] = uom4.VALUE_x / uom4.VALUE_y
#uom4 = uom4[uom4.Percent>=0.9]
itemid11 = uom4.ITEMID.unique()
uom4

33

    ITEMID VALUEUOM  VALUE_x  VALUE_y   Percent
0    50804    MEQ/L    20266   490592  0.041309
1    50804    mEq/L   470326   490592  0.958691
2    50818    MM HG    20115   490572  0.041003
3    50818    mm Hg   470457   490572  0.958997
4    50820    UNITS    23542   530727  0.044358
..     ...      ...      ...      ...       ...
63   51274      sec   436959   469064  0.931555
64   51464    EU/dL    60608    99676  0.608050
65   51464    mg/dL    39068    99676  0.391950
66   51514    EU/dL    35328   101813  0.346989
67   51514    mg/dL    66485   101813  0.653011

[68 rows x 5 columns]

In [95]:
AAA = uom4[uom4.Percent>0.5].merge(inlab_map,how="inner",left_on=["ITEMID","VALUEUOM"],right_on=["ITEMID","VALUEUOM"])
AAA

,ITEMID,VALUEUOM,VALUE_x,VALUE_y,Percent,Unnamed: 0,COUNT,LABEL,COEFFICIENT
0,51067,mg/24hr,641,653,0.981623,19,653,24 hr Creatinine,1
1,51068,mg/24hr,223,225,0.991111,21,225,24 hr Protein,1
2,51274,sec,436959,469064,0.931555,26,469064,PT,1

In [229]:
df_d_lab_item = pd.read_csv(os.path.join(mimic3_path,"D_LABITEMS.csv"),low_memory=False)

In [230]:
itemid_uom_map(df_lab, df_d_lab_item, "VALUEUOM", "./resources/itemid_uom_map/labevents_map.csv")

itemid which has multiple uom : 68

In [69]:
uom1 = df_lab[["ITEMID","VALUE","VALUEUOM"]].dropna(axis=0,subset = ["VALUE", "VALUEUOM"]).drop_duplicates(subset=["ITEMID","VALUEUOM"]).sort_values("ITEMID")
uom1 = uom1.groupby("ITEMID").count().reset_index()
itemids3 = uom1[uom1.VALUEUOM>1].ITEMID.unique()

In [75]:
np.savetxt("./resources/others/itemids_uom_LABEVENTS.txt", itemids3, fmt="%d")

In [12]:
itemid_lab = df_lab.ITEMID.unique()
print("#itemid ",len(itemid_lab))
print("#itemid not in itemids ",len(set(itemid_lab) - set(itemids)))
for i in itemid_lab:
    if i in itemids:
        print(i)

#itemid  726
#itemid not in itemids  718
50820
50931
51478
51491
50817
50809
51094
50831

In [20]:
np.savetxt("./resources/others/itemids_LABEVENTS.txt", itemid_lab, fmt="%d")

# OUTPUTEVENTS

In [231]:
df_output = pd.read_csv(os.path.join(mimic3_path,"OUTPUTEVENTS.csv"),low_memory=False)
df_output

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUE,VALUEUOM,STORETIME,CGID,STOPPED,NEWBOTTLE,ISERROR
0,344,21219,177991.0,225765.0,2142-09-08 10:00:00,40055,200.0,ml,2142-09-08 12:08:00,17269,NaN,NaN,NaN
1,345,21219,177991.0,225765.0,2142-09-08 12:00:00,40055,200.0,ml,2142-09-08 12:08:00,17269,NaN,NaN,NaN
2,346,21219,177991.0,225765.0,2142-09-08 13:00:00,40055,120.0,ml,2142-09-08 13:39:00,17269,NaN,NaN,NaN
3,347,21219,177991.0,225765.0,2142-09-08 14:00:00,40055,100.0,ml,2142-09-08 16:17:00,17269,NaN,NaN,NaN
4,348,21219,177991.0,225765.0,2142-09-08 16:00:00,40055,200.0,ml,2142-09-08 16:17:00,17269,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4349213,4340476,68375,123645.0,276251.0,2175-09-05 23:00:00,226588,30.0,mL,2175-09-05 22:48:00,16915,NaN,NaN,NaN
4349214,4340477,68375,123645.0,276251.0,2175-09-06 00:00:00,226588,0.0,mL,2175-09-06 00:03:00,20971,NaN,NaN,NaN
4349215,4340478,68375,123645.0,276251.0,2175-09-06 01:00:00,226588,40.0,mL,2175-09-06 01:13:00,20971,NaN,NaN,NaN
4349216,4340479,68375,123645.0,276251.0,2175-09-06 02:00:00,226588,20.0,mL,2175-09-06 02:14:00,20971,NaN,NaN,NaN
4349217,4340480,68375,123645.0,276251.0,2175-09-06 04:00:00,226588,40.0,mL,2175-09-06 03:53:00,20971,NaN,NaN,NaN

In [238]:
itemid_uom_map(df_output, df_d_item, "VALUEUOM", "./resources/itemid_uom_map/outputevents_map.csv")

itemid which has multiple uom : 0
itemid which has multiple uom : 0

In [241]:
uom1 = df_output[["ITEMID","VALUE","VALUEUOM"]].dropna(axis=0,subset = ["VALUE", "VALUEUOM"]).drop_duplicates(subset=["ITEMID","VALUEUOM"]).sort_values("ITEMID")
uom1 = uom1.groupby("ITEMID").count().reset_index()
itemids4 = uom1[uom1.VALUEUOM>1].ITEMID.unique()

In [242]:
np.savetxt("./resources/others/itemids_uom_OUTPUTEVENTS.txt", itemids4, fmt="%d")

In [14]:
itemid_output = df_output.ITEMID.unique()
print("#itemid ",len(itemid_output))
print("#itemid not in itemids ",len(set(itemid_output) - set(itemids)))
for i in itemid_output:
    if i in itemids:
        print(i)

#itemid  1155
#itemid not in itemids  1155

In [21]:
np.savetxt("./resources/others/itemids_OUTPUTEVENTS.txt", itemid_output, fmt="%d")

# CHARTEVENTS

In [36]:
table = "CHARTEVENTS"
nb_rows = 330712484
itemid_chart = set()
for row, row_no, _ in read_events_table_by_row(mimic3_path, table):
    itemid_chart.add(row["ITEMID"])

In [37]:
print("#itemid ",len(itemid_chart))
print("#itemid not in itemids ",len(set(itemid_chart) - set(itemids)))
for i in itemid_chart:
    if i in itemids:
        print(i)

#itemid  6463
#itemid not in itemids  6463

/opt/anaconda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  after removing the cwd from sys.path.

In [84]:
itemids5 = {}
itemids6 = set()
for row, row_no, _ in read_events_table_by_row(mimic3_path, table):
    itemids5[row["ITEMID"]] = row["VALUEUOM"]
for row, row_no, _ in read_events_table_by_row(mimic3_path, table):
    if itemids5[row["ITEMID"]] != row["VALUEUOM"]:
        itemids6.add(row["ITEMID"])
print(len(itemids5))
print(len(itemids6))

6463
320

In [89]:
np.savetxt("./resources/others/itemids_uom_CHARTEVENTS.txt", itemid_chart, fmt="%d")

In [ ]:
uom1 = df_lab[["ITEMID","VALUE","VALUEUOM"]].dropna(axis=0,subset = ["VALUE", "VALUEUOM"]).drop_duplicates(subset=["ITEMID","VALUEUOM"]).sort_values("ITEMID")
uom1 = uom1.groupby("ITEMID").count().reset_index()
itemids5 = uom1[uom1.VALUEUOM>1].ITEMID.unique()

In [48]:
itemid_chart = np.array(list(itemid_chart)).astype(int)

In [50]:
np.savetxt("./resources/others/itemids_CHARTEVENTS.txt", itemid_chart, fmt="%d")

## chartevents multiple uom

In [3]:
import pickle,os
mimic3_path2 = "/home/lzy/KDD-MIMIC/mimic_benchmark/resources/itemid_uom_map/"
with open(os.path.join(mimic3_path2,"item_uom.pkl"),"rb") as f:
    item_uom = pickle.load(f)
with open(os.path.join(mimic3_path2,"item_value.pkl"),"rb") as f:
    item_value = pickle.load(f)
with open(os.path.join(mimic3_path2,"item_count.pkl"),"rb") as f:
    item_count = pickle.load(f)
with open(os.path.join(mimic3_path2,"item_uom_count.pkl"),"rb") as f:
    item_uom_count = pickle.load(f)

In [4]:
item_uom

defaultdict(set,
            {'223834': {'L/min'},
             '224329': {'min'},
             '224331': {'ml/hr'},
             '220224': {'mmHg'},
             '220235': {'mmHg'},
             '223830': {'units'},
             '224828': {'mEq/L'},
             '225668': {'mmol/L'},
             '225698': {'mEq/L'},
             '220045': {'bpm'},
             '220179': {'mmHg'},
             '220180': {'mmHg'},
             '220181': {'mmHg'},
             '220210': {'insp/min'},
             '220277': {'%'},
             '220339': {'cmH2O'},
             '223761': {'?F'},
             '223875': {'insp/min'},
             '224690': {'insp/min'},
             '224696': {'cmH2O'},
             '224700': {'cmH2O'},
             '220292': {'L/min'},
             '220293': {'L/min'},
             '223873': {'cmH2O'},
             '223874': {'mL'},
             '223876': {'sec'},
             '224684': {'mL'},
             '224685': {'mL'},
             '224687': {'L/min'},
             '224688': {'insp/min'},
             '224689': {'insp/min'},
             '224695': {'cmH2O'},
             '224697': {'cmH2O'},
             '224738': {'sec'},
             '226512': {'kg'},
             '220046': {'bpm'},
             '220047': {'bpm'},
             '223751': {'mmHg'},
             '223752': {'mmHg'},
             '220050': {'mmHg'},
             '220051': {'mmHg'},
             '220052': {'mmHg'},
             '220074': {'mmHg'},
             '220056': {'mmHg'},
             '220058': {'mmHg'},
             '223769': {'%'},
             '223770': {'%'},
             '224161': {'insp/min'},
             '224162': {'insp/min'},
             '226253': {'%'},
             '220228': {'g/dl'},
             '220545': {'%'},
             '220546': {'K/uL'},
             '220602': {'mEq/L'},
             '220615': {'mg/dL'},
             '220621': {'mg/dL'},
             '220635': {'mg/dL'},
             '220645': {'mEq/L'},
             '225624': {'mg/dL'},
             '225625': {'mg/dL'},
             '225677': {'mg/dL'},
             '227073': {'mEq/L'},
             '227442': {'mEq/L'},
             '227443': {'mEq/L'},
             '227457': {'K/uL'},
             '227461': {'ug/mL'},
             '227465': {'sec'},
             '227466': {'sec'},
             '225634': {'IU/L'},
             '227429': {'ng/mL'},
             '227445': {'ng/mL'},
             '225639': {'%'},
             '225640': {'%'},
             '225641': {'%'},
             '225642': {'%'},
             '225643': {'%'},
             '224686': {'mL'},
             '224701': {'cmH2O'},
             '226707': {'Inch'},
             '226730': {'cm'},
             '220603': {'mg/dL'},
             '220624': {'mg/dL'},
             '225671': {'mg/dL'},
             '225693': {'mg/dL'},
             '224639': {'kg'},
             '223872': {'?C'},
             '224417': {'cmH2O'},
             '224421': {'mL'},
             '224422': {'bpm'},
             '227456': {'g/dL'},
             '220227': {'%'},
             '220587': {'IU/L'},
             '220644': {'IU/L'},
             '225612': {'IU/L'},
             '226846': {'kg'},
             '225637': {'%'},
             '225638': {'%'},
             '225690': {'mg/dL'},
             '224167': {'mmHg'},
             '227464': {'mEq/L'},
             '226499': {'mL'},
             '220632': {'IU/L'},
             '227468': {'mg/dL'},
             '220274': {'units'},
             '225667': {'mmol/L'},
             '224643': {'mmHg'},
             '220734': {'units'},
             '225651': {'mg/dL'},
             '227537': {'mmHg'},
             '227538': {'mmHg'},
             '220581': {'IU/L'},
             '225672': {'IU/L'},
             '225806': {'mL'},
             '225807': {'mL'},
             '223679': {'mEq/L'},
             '226062': {'mmHg'},
             '226063': {'mmHg'},
             '225810': {'hour'},
             '226457': {'mL'},
             '227454': {'ug/mL'},
             '226534': {'mEq/L'},
             '227287': {'L/min'},
             '224404': {'mL'},
             '224406': {'mL'},
             '227579': {'cmH2O'},
             '227582': {'L/min'},
             '227580': {'cmH2O'},
             '227455': {'ug/mL'},
             '227632': {'?C'},
             '227581': {'bpm'},
             '227444': {'mg/L'},
             '227470': {'mm/hr'},
             '224562': {'cm'},
             '224846': {'cm'},
             '224916': {'cm'},
             '224951': {'cm'},
             '225636': {'ng/mL'},
             '227463': {'ug/dL'},
             '225309': {'mmHg'},
             '225310': {'mmHg'},
             '225312': {'mmHg'},
             '220072': {'mmHg'},
             '220073': {'mmHg'},
             '225628': {'%'},
             '224563': {'cm'},
             '227543': {'L/min'},
             '227546': {'%'},
             '223762': {'?C'},
             '226536': {'mEq/L'},
             '227547': {'mL/beat'},
             '220088': {'L/min'},
             '227549': {'%'},
             '226537': {'mg/dL'},
             '227627': {'?C'},
             '227634': {'?C'},
             '226540': {'%'},
             '227686': {'%'},
             '224899': {'cm'},
             '224900': {'cm'},
             '224920': {'cm'},
             '224921': {'cm'},
             '224955': {'cm'},
             '224956': {'cm'},
             '224842': {'L/min'},
             '224922': {'cm'},
             '224957': {'cm'},
             '224418': {'mL'},
             '227187': {'cmH2O'},
             '227628': {'?C'},
             '224359': {'sec'},
             '226329': {'?C'},
             '227462': {'ng/mL'},
             '225674': {'%'},
             '224710': {'cmH2O'},
             '224711': {'sec'},
             '228004': {'ml/hr'},
             '228005': {'ml/hr'},
             '228006': {'ml/hr'},
             '224144': {'ml/min'},
             '224149': {'mmHg'},
             '224150': {'mmHg'},
             '224151': {'mmHg'},
             '224152': {'mmHg'},
             '224153': {'ml/hr'},
             '224154': {'ml/hr'},
             '224191': {'mL'},
             '225183': {'mL'},
             '224145': {'units'},
             '220059': {'mmHg'},
             '220060': {'mmHg'},
             '220061': {'mmHg'},
             '223772': {'%'},
             '223773': {'cm'},
             '224751': {'bpm'},
             '224753': {'mV'},
             '224755': {'mA'},
             '220063': {'mmHg'},
             '220066': {'mmHg'},
             '223958': {'mV'},
             '223960': {'mA'},
             '224752': {'mV'},
             '224754': {'mA'},
             '224837': {'mV'},
             '227516': {'mmHg'},
             '224838': {'mA'},
             '224896': {'cm'},
             '224917': {'cm'},
             '224952': {'cm'},
             '224895': {'cm'},
             '220580': {'umol/L'},
             '227243': {'mmHg'},
             '227446': {'pg/mL'},
             '224918': {'cm'},
             '224953': {'cm'},
             '224661': {'mA'},
             '224662': {'mA'},
             '224746': {'cmH2O'},
             '224747': {'cmH2O'},
             '224845': {'/min'},
             '224919': {'cm'},
             '224954': {'cm'},
             '224702': {'cmH2O'},
             '227447': {'ug/mL'},
             '227469': {'sec'},
             '224419': {'cmH2O'},
             '225692': {'#/uL'},
             '226183': {'kcal/kg'},
             '226184': {'g/kg'},
             '220650': {'g/dL'},
             '226737': {'mmHg'},
             '226739': {'years'},
             '226744': {'%'},
             '226745': {'%'},
             '226754': {'%'},
             '226764': {'bpm'},
             '226766': {'mmHg'},
             '226774': {'insp/min'},
             '226778': {'?F'},
             '226984': {'years'},
             '226993': {'%'},
             '227010': {'%'},
             '227018': {'bpm'},
             '227023': {'mmHg'},
             '227050': {'insp/min'},
             '227054': {'?F'},
             '227039': {'mmHg'},
             '227008': {'%'},
             '227440': {'ng/mL'},
             '223764': {'bpm'},
             '223765': {'bpm'},
             '223766': {'mmHg'},
             '224645': {'mmHg'},
             '224646': {'mmHg'},
             '224647': {'bpm'},
             '226092': {'mmHg'},
             '226094': {'mmHg'},
             '226096': {'mmHg'},
             '224704': {'%'},
             '225695': {'mg/dL'},
             '227449': {'ug/mL'},
             '227448': {'ug/mL'},
             '227452': {'ug/mL'},
             '224309': {'mmHg'},
             '224310': {'mmHg'},
             '224311': {'mmHg'},
             '224322': {'mmHg'},
             '224652': {'mmHg'},
             '224654': {'mmHg'},
             '225980': {'mL'},
             '220765': {'mmHg'},
             '227066': {'mmHg'},
             '223763': {'mmHg'},
             '223767': {'mmHg'},
             '223768': {'mmHg'},
             '227716': {'mmHg'},
             '227717': {'mmHg'},
             '224705': {'cmH2O'},
             '224706': {'cmH2O'},
             '224707': {'sec'},
             '224709': {'sec'},
             '225684': {'mOsm/kg'},
             '227242': {'mmHg'},
             '224691': {'L/min'},
             '227775': {'lbs'},
             '227460': {'ug/mL'},
             '226504': {'ug/mL'},
             '227861': {'%'},
             '227867': {'%'},
             '227873': {'%'},
             '224897': {'cm'},
             '224898': {'cm'},
             '227919': {'%'},
             '227926': {'%'},
             '227933': {'%'},
             '224420': {'Liters'},
             '226170': {'Degree'},
             '227441': {'mg/dL', 'units'},
             '224901': {'cm'},
             '227596': {'cm'},
             '227602': {'cm'},
             '227614': {'cm'},
             '223771': {'mmHg'},
             '227451': {'ug/mL'},
             '227450': {'ug/mL'},
             '224728': {'L/min'},
             '228368': {'L/min/m2'},
             '228369': {'L/min'},
             '228374': {'mL/beat'},
             '228375': {'%'},
             '220194': {'msec'},
             '228370': {'%'},
             '228377': {'%'},
             '224366': {'ml/hr'},
             '224367': {'mL'},
             '224411': {'mL'},
             '228381': {'dynes*sec/cm5'},
             '228382': {'dynes*sec/cm5/m2'},
             '228177': {'L/min/m2'},
             '228178': {'L/min'},
             '228182': {'mL/m2'},
             '228184': {'%'},
             '227603': {'cm'},
             '227615': {'cm'},
             '220283': {'cmH2O/L/seconds'},
             '224166': {'mmHg'},
             '228179': {'ml/kg'},
             '228180': {'mL/m2'},
             '228185': {'dynes.sec.cm-5/m2'},
             '228176': {'L/min'},
             '224749': {'ppm'},
             '224750': {'psi'},
             '224314': {'mmHg'},
             '228198': {'L/min'},
             '228192': {'L/min'},
             '228204': {'cm'},
             '228189': {'L/min'},
             '227453': {'ug/mL'},
             '227459': {'ug/mL'},
             '227458': {'ug/mL'},
             '224315': {'mmHg'},
             '224317': {'mmHg'},
             '224318': {'mmHg'},
             '227647': {'cm'},
             '226272': {'%'},
             '227597': {'cm'},
             '228145': {'mmHg'},
             '228146': {'mmHg'},
             '227989': {'mmHg'},
             '228154': {'L/min'},
             '228158': {'mmHg'},
             '228159': {'ml/hr'},
             '228162': {'cm'},
             '227776': {'lbs'},
             '228378': {'%'},
             '228379': {'%'},
             '220245': {'ml/min'},
             '227645': {'min'},
             '227646': {'min'},
             '228392': {'?C'},
             '227990': {'mmHg'},
             '227991': {'mmHg'},
             '228181': {'mL/m2'},
             '220125': {'L/min'},
             '220128': {'L/min'},
             '223775': {'bpm'},
             '224659': {'mmHg'},
             '224363': {'bpm'},
             '224726': {'ml/min'},
             '224660': {'L/min'},
             '211': {'BPM', 'bpm'},
             '456': {'mmHg'},
             '87': {'number'},
             '190': {'torr'},
             '198': {'points'},
             '470': {'lpm'},
             '471': {'lpm'},
             '581': {'kg'},
             '618': {'BPM'},
             '646': {'%'},
             '677': {'Deg. C'},
             '678': {'Deg. F'},
             '742': {'kg'},
             '421': {'kg x m'},
             '422': {'...'},
             '430': {'g * m'},
             '431': {'g*m/m2'},
             '625': {'...'},
             '626': {'...'},
             '627': {'...'},
             '662': {'ml'},
             '666': {'%'},
             '676': {'Deg. C'},
             '679': {'Deg. F'},
             '52': {'mmHg'},
             '55': {'mmHg'},
             '59': {'mmHg'},
             '62': {'mmHg'},
             '113': {'%', 'mmHg'},
             '70': {'m2'},
             '71': {'m2'},
             '90': {'L/min'},
             '116': {'...'},
             '786': {'mg/dl'},
             '813': {'%'},
             '814': {'gm/dl'},
             '827': {'mEq/L'},
             '833': {'/mic l'},
             '1522': {'mg/dl'},
             '1534': {'mEq/L'},
             '517': {'BPM'},
             '580': {'kg'},
             '131': {'ml/cmH'},
             '218': {'cmH2O'},
             '219': {'BPM'},
             '444': {'cmH2O'},
             '114': {'ml/dl'},
             '472': {'ml/min'},
             '473': {'ml/m/m'},
             '146': {'ml/hr'},
             '3451': {'cm', 'kg'},
             '3547': {'cc'},
             '3580': {'kg'},
             '3581': {'cmH20'},
             '3582': {'cmH20'},
             '3583': {'kg'},
             '3603': {'Breath'},
             '3652': {'Deg F'},
             '3655': {'in'},
             '3692': {'gms'},
             '3723': {'cm', 'kg'},
             '4187': {'cm'},
             '4188': {'Inches'},
             '834': {'%'},
             '1191': {'gms'},
             '89': {'L/min'},
             '491': {'mmHg'},
             '504': {'mmHg'},
             '513': {'...'},
             '1704': {'cm'},
             '778': {'mmHg'},
             '779': {'mmHg'},
             '1390': {'ml/min'},
             '1391': {'ml/m/m'},
             '1401': {'ml/min'},
             '1402': {'ml/m/m'},
             '664': {'%'},
             '417': {'Deg. C'},
             '450': {'L/min'},
             '506': {'cmH2O'},
             '535': {'cmH2O'},
             '543': {'cmH2O'},
             '79': {'cc/min'},
             '192': {'mmHg'},
             '611': {'ml/hr'},
             '624': {'mmHg'},
             '578': {'.', 'cmH20'},
             '614': {'BPM'},
             '615': {'BPM'},
             '619': {'BPM'},
             '69': {'m2'},
             '762': {'kg'},
             '920': {'inches'},
             '631': {'cmH2O'},
             '682': {'ml/B'},
             '683': {'ml/B'},
             '763': {'kg'},
             '224': {'mmHg'},
             '721': {'#'},
             '505': {'cmH20', 'cmH2O'},
             '3420': {'%'},
             '3422': {'%'},
             '3437': {'cmH20'},
             '3459': {'cmH20'},
             '3460': {'Cent'},
             '3503': {'cmH20'},
             '3555': {'cmH20'},
             '3494': {'cc/min'},
             '3495': {'cmH20'},
             '3294': {'in'},
             '3436': {'cc/min'},
             '507': {'cmH20'},
             '2000': {'sec'},
             '3324': {'Breath'},
             '3337': {'Breath'},
             '3663': {'cc/kg/'},
             '3665': {'cc/kg/'},
             '3556': {'cmH20'},
             '3502': {'in'},
             '3312': {'cc/min'},
             '3614': {'lpm'},
             '3688': {'in'},
             '3689': {'in'},
             '733': {'kg'},
             '601': {'g * m'},
             '602': {'g*m/m2'},
             '588': {'kg * m'},
             '589': {'...'},
             '141': {'cmH2O'},
             '436': {'cmH2O'},
             '530': {'L/m'},
             '684': {'ml/B'},
             '3654': {'Deg F'},
             '153': {'%'},
             '1695': {'V-mA'},
             '1696': {'V-mA'},
             '490': {'mmHg'},
             '1705': {'V-mA'},
             '1707': {'V-mA'},
             '194': {'lpm'},
             '195': {'cmH2O'},
             '858': {'mmHg'},
             '859': {'mmHg'},
             '860': {'pH'},
             '3693': {'gms'},
             '1397': {'units'},
             '1880': {'kg'},
             '512': {'...'},
             '61': {'ml/dl'},
             '711': {'ml/min'},
             '713': {'...'},
             '741': {'ml/dl'},
             '143': {'ml/dl'},
             '838': {'%'},
             '3438': {'cc'},
             '651': {'BPM'},
             '652': {'L'},
             '474': {'decFrc'},
             '586': {'sec'},
             '3407': {'cc'},
             '26': {'mmHg'},
             '595': {'units'},
             '1524': {'mg/dl'},
             '734': {'cmH2O'},
             '189': {'torr'},
             '789': {'mg/dl'},
             '185': {'decFrc'},
             '186': {'decFrc'},
             '3641': {'cmH20'},
             '1624': {'%'},
             '7151': {'mmHg'},
             '3318': {'Breath'},
             '75': {'mA'},
             '35': {'lpm'},
             '801': {'ng'},
             '3314': {'Breath'},
             '3485': {'cm'},
             '3486': {'Inches'},
             '63': {'bpm'},
             '64': {'cmH2O'},
             '66': {'cmH2O'},
             '226': {'mmHg'},
             '92': {'mmHg'},
             '1211': {'cmH20'},
             '2921': {'cmH20'},
             '3457': {'Hertz'},
             '3681': {'Date'},
             '3316': {'Breath'},
             '3320': {'Breath'},
             '3322': {'Breath'},
             '686': {'cmH2O'},
             '1424': {'sum'},
             '3647': {'mmHg'},
             '782': {'sec'},
             '60': {'cmH2O'},
             '481': {'BPM'},
             '483': {'BPM'},
             '485': {'BPM'},
             '67': {'lpm'},
             '443': {'mmHg'},
             '449': {'L/min'},
             '532': {'lpm'},
             '3657': {'%'},
             '670': {'cmH2O'},
             '671': {'sec'},
             '3299': {'cmH20'},
             '459': {'.'},
             '730': {'liters'},
             '502': {'ml/B'},
             '503': {'.'},
             '25': {'msec'},
             '638': {'BPM'},
             '1411': {'mmHg'},
             '701': {'BPM'},
             '6702': {'mmHg'},
             '583': {'mmHg'},
             '2': {'.'},
             '3': {'.'},
             '217': {'units'},
             '173': {'mmHg'},
             '3377': {'gms'},
             '3298': {'gms'},
             '4191': {'cm'},
             '4192': {'Inches'},
             '3545': {'%'},
             '501': {'ml/B'},
             '712': {'ml/min'},
             '724': {'cmH2O'},
             '727': {'decFrc'},
             '725': {'cmH2O'},
             '65': {'ml/B'},
             '715': {'decFrc'},
             '534': {'L/m'},
             '639': {'V-mA'},
             '653': {'BPM'},
             '654': {'ml/B'},
             '842': {'mcg/ml'},
             '716': {'mmHg'},
             '650': {'cmH2O'},
             '429': {'L/min'},
             '600': {'L/min'},
             '6719': {'%'},
             '812': {'mEq/l'},
             '3594': {'cmH20'},
             '5554': {'mmHg'},
             '155': {'mmHg'},
             '53': {'mmHg'},
             '681': {'ml/B'},
             '448': {'L/min'},
             '445': {'L/min'},
             '533': {'L/m'},
             '819': {'mcg'},
             '34': {'lpm'},
             '1393': {'kg'},
             '1394': {'In'},
             '1395': {'kg'},
             '531': {'%'},
             '438': {'mmHg'},
             '3678': {'gms'},

In [31]:
df = pd.read_csv("/home/lzy/KDD-MIMIC/mimic_benchmark/resources/chartevents_to_variable_map.csv")
df = df.set_index("ITEMID")
df.reset_index()

     ITEMID    COUNT  USE  VARIABLE
0       211  5180809    1       211
1       742  3464326    1       742
2       646  3418889    1       646
3       618  3386269    1       618
4    220045  2762225    1    220045
..      ...      ...  ...       ...
708    3334        1    1      3334
709  227039        1    1    227039
710  224726        1    1    224726
711     819        1    1       819
712  228181        1    1    228181

[713 rows x 4 columns]

In [23]:
for i,v in item_count.items():
    df.loc[i] = [v,1,i]
df

         COUNT USE VARIABLE
ITEMID
223834  202279   1   223834
224329   23043   1   224329
224331   13598   1   224331
220224  140229   1   220224
220235  140215   1   220235
...        ...  ..      ...
8533        50   1     8533
8496       118   1     8496
8481      1591   1     8481
8364         3   1     8364
8536       226   1     8536

[713 rows x 3 columns]

In [29]:
df.sort_values(["COUNT"],ascending = False).to_csv("/home/lzy/KDD-MIMIC/mimic_benchmark/resources/chartevents_to_variable_map.csv")

In [5]:
from collections import defaultdict

In [59]:
item_uom2 = defaultdict(set)
v = ''
for i,r in item_uom.items():
    if len(r)>1:
        print(i)
        print(r)

227441
{'mg/dL', 'units'}
211
{'bpm', 'BPM'}
113
{'mmHg', '%'}
3451
{'kg', 'cm'}
3723
{'kg', 'cm'}
578
{'cmH20', '.'}
505
{'cmH20', 'cmH2O'}

# interaction


itemid_incv
itemid_inmv
itemid_lab
itemid_output
itemid_chart

In [72]:
print(len(itemid_incv))
print(len(itemid_inmv))
print(len(itemid_lab))
print(len(itemid_output))
print(len(itemid_chart))

2938
278
726
1155
6463

# itemids with multiple uom

itemids1
itemids2
itemids3
itemids4

In [71]:
print(len(itemids1))
print(len(itemids2))
print(len(itemids3))
print(len(itemids4))

37
81
33
33

In [85]:
np.loadtxt("./resources/others/itemids_uom_all.txt")

array([ 50804.,  50818.,  50820.,  50821.,  50864.,  50889.,  50896.,
        50916.,  50924.,  50926.,  50935.,  50958.,  50964.,  50973.,
        50974.,  50980.,  50989.,  50990.,  50993.,  50994.,  50995.,
        51000.,  51001.,  51003.,  51005.,  51067.,  51068.,  51105.,
        51127.,  51128.,  51274.,  51464.,  51514.,  30022.,  30023.,
        30025.,  30026.,  30027.,  30029.,  30030.,  30046.,  30051.,
        30052.,  30067.,  30069.,  30073.,  30077.,  30088.,  30089.,
        30111.,  30114.,  30117.,  30126.,  30135.,  30138.,  30148.,
        30151.,  30163.,  30166.,  30167.,  30172.,  30173.,  30174.,
        30177.,  30178.,  30296.,  30297.,  30298.,  30384.,  30403.,
       220995., 221289., 221456., 221468., 221555., 221744., 221794.,
       221833., 221906., 222011., 222021., 222062., 222168., 225150.,
       225153., 225154., 225155., 225158., 225798., 225828., 225832.,
       225833., 225837., 225838., 225840., 225842., 225843., 225844.,
       225845., 225847., 225848., 225850., 225851., 225853., 225855.,
       225859., 225860., 225862., 225863., 225866., 225869., 225871.,
       225873., 225875., 225876., 225879., 225881., 225883., 225884.,
       225885., 225888., 225890., 225892., 225893., 225898., 225899.,
       225902., 225905., 225906., 225907., 225909., 225910., 225911.,
       225912., 225913., 225914., 225942., 225948., 225974., 225975.,
       226361., 226364., 226367., 227531., 227536., 227689., 227690.,
       227691., 227694., 228003., 228315.,  50804.,  50818.,  50820.,
        50821.,  50864.,  50889.,  50896.,  50916.,  50924.,  50926.,
        50935.,  50958.,  50964.,  50973.,  50974.,  50980.,  50989.,
        50990.,  50993.,  50994.,  50995.,  51000.,  51001.,  51003.,
        51005.,  51067.,  51068.,  51105.,  51127.,  51128.,  51274.,
        51464.,  51514.])